@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");

.container {
  margin: 30px;
  font-family: "Atkinson Hyperlegible Next", serif;
}

.header {
  display: flex;
  background-color: #fdf0ea;
  border-radius: 150px 0px 0px 150px;
  height: 40vh;
  align-items: center;
  gap: 30px;
}

.header > .myimage {
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
}

.header > .name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .name > p {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(3, 105, 100);
}

.content {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.content > .left-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #dbf1f7;
}

.content > .left-container > .contact,
.skills,
.aboutme,
.language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 20px 0px 20px;
}

.dashline {
  border: 1px solid #000000;
  width: 100%;
  border-radius: 3px;
  margin: 0 auto;
}

.contact > .contactPhone > p,
.contact > .contactEmail > p,
.contact > .contactLocation > p,
.contact > .contactGit > a > p {
  font-size: 0.9rem;
  color: #333;
}

.phoneIcon,
.emailIcon,
.locationIcon,
.gitIcon {
  width: 25px;
  height: 25px;
  color: rgb(3, 105, 100);
}

.skill-list > h4 {
  margin: 10px 0 0 0;
  font-weight: normal;
  font-size: 1rem;
}

.skill-list > ul {
  margin: 0;
}

.pg {
  display: flex;
}

.pg > ul {
  margin: 0;
}

.content > .right-container {
  background-color: #f0f0f0;
  width: 80%;
}


@media screen and (max-width: 576px) {
  .header {
    height: auto;
    gap: 10px;
    border-radius: 150px 0px 0px 150px;
    height: 10vh;

  }

  .header > .myimage {
    height: 10vh;
    width: 10vh;
  }

  .header > .name > p {
    font-size: 1.5rem;
  }


.content {
    margin: 10px;
    gap: 15px;
  }

.content > .left-container {
  width: 30%;
  margin-left: 0;
}

.dashline {
  border: .5px solid #000000;
}

.contact > .contactPhone > p,
.contact > .contactEmail > p,
.contact > .contactLocation > p,
.contact > .contactGit > a > p {
  font-size: 0.3rem;
  color: #333;
}

.phoneIcon,
.emailIcon,
.locationIcon,
.gitIcon {
  width: 12px;
  height: 12px;
}

.skill-list > h4 {
  font-size: 0.3rem;
}

.skills > .skill-list > .pg > ul {
  font-size: 0.3rem;
}

.skills > .skill-list > ul {
  font-size: 0.3rem;
}

.contact > p,
.skills > p,
.aboutme > p,
.language > p {
  font-size: 0.3rem;
}

.language > .skill-list > li {
  font-size: 0.3rem;
}
.content > .right-container {
  background-color: #f0f0f0;
  width: 70%;
}

}
