@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");

.container {
  margin: 30px;
  font-family: "Atkinson Hyperlegible Next", serif;
}

.header {
  display: flex;
  background-color: #fdf0ea;
  border-radius: 150px 0px 0px 150px;
  height: 40vh;
  align-items: center;
  gap: 30px;
}

.header > .myimage {
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
}

.header > .name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .name > p {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(3, 105, 100);
}

.content {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 20px;
}

.content > .left-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #dbf1f7;
}

.content > .left-container > .contact,
.skills,
.aboutme,
.language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 20px 0px 20px;
}



.dashline {
  border: 1px solid rgb(3, 105, 100);
  width: 100%;
  border-radius: 3px;
  margin: 0 auto;
}

.contact > p, .skills > p, .aboutme, .language > p{
  font-size: 1rem;
  color: rgb(3, 105, 100);
}

.about {
  color: black;
}

.contact > .contactPhone > p,
.contact > .contactEmail > p,
.contact > .contactLocation > p,
.contact > .contactGit > a > p {
  font-size: 0.9rem;
  color: black;
}

.phoneIcon,
.emailIcon,
.locationIcon,
.gitIcon {
  width: 25px;
  height: 25px;
  color: rgb(3, 105, 100);
}

.skill-list > h4 {
  margin: 10px 0 0 0;
  font-weight: normal;
  font-size: 1rem;
}

.skill-list > ul {
  margin: 0;
}

.pg {
  display: flex;
}

.pg > ul {
  margin: 0;
}

.content > .right-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 80%;
  margin-top: 25px;
}

.right-container > .Edu > h3{
  background-color: #dbf1f7;
  color: rgb(3, 105, 100);
}

.university{
  font-weight: bold;
}

.school{
  font-weight: bold;
}

.project > ul > li {
  font-weight: bold;
}

.activities > ul > li {
  font-weight: bold;
}

.project > h3,
.activities > h3 {
  background-color: #dbf1f7;
  color: rgb(3, 105, 100);
} 

.middle {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 15vw;
  align-items:flex-end;
}

.content > .middle > .one, .content > .middle > .two, .content > .middle > .three {
    border-radius: 99rem;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: white;
    border: 5px solid #fdf0ea;
    font-size: 18px;
    color: rgb(3, 105, 100);
}

.content > .middle > .one > p, .content > .middle > .two > p, .content > .middle > .three > p {
  margin-top: -3px;
}

.content > .middle > .line1 {
  height: 37.5vh;
  width: 5px;
  background-color: #fdf0ea;
  margin-right: 15px;
}
.content > .middle > .line2 {
  height: 46vh;
  width: 5px;
  background-color: #fdf0ea;
  margin-right: 15px;
}





@media screen and (max-width: 576px) {
  .header {
    height: auto;
    gap: 10px;
    border-radius: 150px 0px 0px 150px;
    height: 10vh;

  }

  .header > .myimage {
    height: 10vh;
    width: 10vh;
  }

  .header > .name > p {
    font-size: 1.5rem;
  }


.content {
    margin: 10px;
    gap: 15px;
  }

.content > .left-container {
  width: 35%;
  margin-left: 0;
}

.dashline {
  border: 0.1px solid rgb(3, 105, 100);
}

.contact > .contactPhone > p,
.contact > .contactEmail > p,
.contact > .contactLocation > p,
.contact > .contactGit > a > p {
  font-size: 0.3rem;
  color: #333;
}

.phoneIcon,
.emailIcon,
.locationIcon,
.gitIcon {
  width: 12px;
  height: 12px;
}

.skill-list > h4 {
  font-size: 0.3rem;
}

.skills > .skill-list > .pg > ul {
  font-size: 0.3rem;
  margin-left: -30px;
}

.skills > .skill-list > ul {
  font-size: 0.3rem;
  margin-left: -30px;
}

.contact > p,
.skills > p,
.aboutme > p,
.language > p {
  font-size: 0.3rem;
  
}
.language > ul > li {
  font-size: 0.3rem;
  margin-left: -30px;
}

.language > .skill-list > li {
  font-size: 0.3rem;
}
.content > .right-container {
  width: 70%;
  margin-left: -10px;
}


.right-container > .Edu > h3{
  background-color: #dbf1f7;
  color: rgb(3, 105, 100);
  font-size: 0.3rem;
}



.university{
  font-weight: bold;
  font-size: 0.3rem;
}

.school{
  font-weight: bold;
  font-size: 0.3rem;
}

.project > ul > li {
  font-weight: bold;
  font-size: 0.3rem;
}

.activities > ul > li {
  font-weight: bold;
  font-size: 0.3rem;
}

.project > h3,
.activities > h3 {
  background-color: #dbf1f7;
  color: rgb(3, 105, 100);
  font-size: 0.3rem;
} 

.province, .gpa > ul > li, .project > ul > p, .activities > ul > p {
  font-size: 0.3rem;
}

.middle {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  width: 15vw;
  align-items:flex-end;
}

.content > .middle > .one, .content > .middle > .two, .content > .middle > .three {
    border-radius: 99rem;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 3px solid #fdf0ea;
    text-align: center;
}

.content > .middle > .one > p{
  font-size: 0.6rem;
  margin-top: -4px;
  margin-left: -3px;
}
.content > .middle > .two > p{
  font-size: 0.6rem;
  margin-top: -4px;
  margin-left: -3px;
}
.content > .middle > .three > p {
  font-size: 0.6rem;
  margin-top: -4px;
  margin-left: -3px;
}

.content > .middle > .line1 {
  height: 12vh;
  width: 2px;
  background-color: #fdf0ea;
  margin-right: 9px;
}
.content > .middle > .line2 {
  height: 17vh;
  width: 2px;
  background-color: #fdf0ea;
  margin-right: 9px;
}



}
